html, body {
  background: #45425A;
  font-family:High Tower Text;
  font-size: 18px;
  color: #45425A;
}

  p {
    width: 95%;
    font-size: 1.1em;
    line-height: 1.4em;
    margin-bottom: 20px;
    color: #45425A;
}

h1 {
  width: 95%;
  font-size: 2em;
  font-family:Cooper;
  line-height: 1.4em;
  margin-bottom: 20px;
  color: #45425A;
}

h2 {
  width: 95%;
  font-size: 1.5em;
  font-family:Cooper;
  line-height: 1.4em;
  margin-bottom: 20px;
  color: #45425A;
}

h3 {
  width: 95%;
  font-size: 1.2em;
  font-family:Cooper;
  line-height: 1.4em;
  margin-bottom: 20px;
  color: #45425A;
}

#container {
  width: 90%;
  max-width: 800px;
  background: #96A13A;
  margin: 30px auto;
  border: 100px solid #6C7D47;
  padding:30px;
}

section {
  border-top:1px solid #5BC0BE;
  padding: 20px 0 0;
}
